@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

--primary-font: 'Josefin Sans', sans-serif;

--items: white;
--background: hsl(0, 0%, 98%);
--separate-line: hsl(236, 33%, 92%);
--text-line-through: hsl(233, 11%, 84%);
--text-inactive: hsl(236, 9%, 61%);
--text-task-and-x: hsl(235, 19%, 35%);
--select-filter: hsl(220, 98%, 61%);

}

[data-theme="dark"] {
--background: hsl(235, 21%, 11%);
--items: hsl(235, 24%, 19%);
--text-task-and-x: hsl(234, 39%, 85%);
--filter-hover: hsl(236, 33%, 92%); /*hover*/
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--dark-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--separate-line: hsl(237, 14%, 26%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before *:after{
    box-sizing: inherit;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    color: var(--filter-hover);
}

.app{
    background-color: var(--background);
    transition: all;
    transition-duration: 300ms;
}

.light + h1{
    font-size: 20rem;
}

.background {
    /* background: url(./images/bg-desktop-light.jpg); */
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.moon::before {
    content: '';
    background-image: url(./images/icon-moon.svg);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: contain;
    display: block;
    width: 30px;
    height: 100%;
    transform: scale(0.8);
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 15px;
}

@media (min-width: 376px) { 
    h1 {
        font-size: 4rem;
    }
}

.item {
    background-color: white;
    height: 4.8rem;
    transition-property: height;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
}


@media (min-width: 376px) { 
    .item {
        height: 6.4rem;
    }
}

.check {
    width: 4.8rem;
}

@media (min-width: 376px) { 
    .check {
        width: 6.4rem;
    }
}

.input {
    width: 100%;
    height: 100%;
}

.task {
    border-bottom: 2px solid var(--separate-line);
    background-color: white;
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
}

@media (min-width: 376px) { 
    
}
.task.animation {
    height: 4.8rem;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.filter-grid :nth-child(3) {
    grid-column: 1 / 3 ;
}

@media (min-width: 376px) { 
    .filter-grid{
        row-gap: 0;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .filter-grid :nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}


.modal-background {
    background-color: rgb(0 0 0 /0.8);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

.modal {
    background-color: white;
    width: 85%;
    height: 28%;
    margin: 20vh auto;
    text-align: center;
    display: grid;
    gap: 2rem;
    align-items: center;
}

@media (min-width: 376px) { 
    .modal {
        width: 40%;
        height: 28%;
    }
}

.modal p {
    font-size:large;
}

@media (min-width: 376px) { 
    .modal p {
        font-size:x-large;
        padding: 0 3rem;
    }
}

.button-modal {
    padding: 1rem 2rem;
}

.line-through-style {
    text-decoration: line-through;
    transition-property: all ;
    transition-duration: 200ms;
    transform: scale(0.9);
}





